.arrowBlue {
    background-image: url('/list/arrowBlue.svg');
    background-size: cover; /* Adjust as necessary */
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .arrowWhite {
    background-image: url('/list/arrowWhite.svg');
    background-size: cover; /* Adjust as necessary */
    background-position: center;
    background-repeat: no-repeat;
  }
  