@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
@layer utilities {
  /* This will apply the styles from small screens (sm) and up */
  @media (min-width: 640px) { /* sm breakpoint */
    .arrowBlue {
      background-image: url('/list/arrowBlue.svg');
      background-size: 100% auto;
      background-position: left;
      background-repeat: no-repeat;
    }
  }

  /* This will apply the styles from medium screens (md) and up */
  @media (min-width: 768px) { /* md breakpoint */
    .arrowBlue {
      /* You can adjust or override any styles here for medium screens and up */
    }
  }

  /* Similarly, for white arrows on small screens and up */
  @media (min-width: 640px) {
    .arrowWhite {
      background-image: url('/list/arrowWhite.svg');
      background-size: 100% auto;
      background-position: left;
      background-repeat: no-repeat;
    }
  }
}
